.hotspot{

    border-radius:50%;
    background-color:#990000;
    width:75px;
    height:75px;

}
.hotspot.home{

    
    background-color:#336699;
   
}
.hotspot.koolaid{

    
    background-color:#663399;
   
}